@font-face{
	font-family: Favorit-Light;
	src: url('ABCFavorit-Light-Trial.woff');
}

@font-face{
	font-family: Favorit-Light-IT;
	src: url(abcfavorit-lightitalic-trial.otf);
}

@font-face{
	font-family: Favorit;
	src: url('ABCFavorit-Regular-Trial.woff');
}

@font-face{
	font-family:Favorit-IT ;
	src: url(abcfavorit-italic-trial.otf);
}






:root{
	--sans:"Favorit-Light", "Helvetica", "Arial";
	--serif:"Times New Roman", "Times","serif";
	--light-grey:#d7d7d7;
	--black: rgba(0,0,0,0.9);
	--max-width: calc(97.5vw - 24px);
	--vertical-margin: calc((100vw - var(--max-width))/2.75);
	--font-size-l: 2.5vmax;
  --font-size-m: calc(var(--font-size-l)/2.2);

}

a::selection{
	color: var(--light-grey);
}

html{
	font-family: var(--sans);
	font-weight: 400;
	font-size: var(--font-size-m);
	color: var(--black);
}

body, html{
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
	overflow-x: hidden;
	background-color: #fff;
	transition: color 300ms ease;
	overflow-y: hidden;
}

.caps{
	text-transform: uppercase;
}

.flex {
	display: flex;
}

a.no-hype, a.no-hype:hover{
	color: var(--black);
}

.margin {
  width: 100%;
  max-width: calc(97.5vw - 24px);
  max-width: var(--max-width);
  margin: 0 auto;
	height: -webkit-fill-available;
}

#loader-page{
	position: absolute;
	top: 0;
	width: 0%;
	height: 5px;
	background-color: var(--black);
	z-index: -2;
	/*visibility: hidden;*/
	overflow: hidden;

}

a{
	color: var(--black);
	text-decoration: none;
}

a:hover{
	color: var(--light-grey);
}

nav{
	position: relative;
	top: var(--vertical-margin);
}

.nav-grid {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: max-content; 
  gap: 0px 0em; 
  grid-template-areas: 
    "name links"; 
}
.name { grid-area: name; }
.links {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "nav-links symbol"; 
  grid-area: links; 
	vertical-align: center;
}
.nav-links { grid-area: nav-links; }
.symbol { 
	grid-area: symbol; 
	text-align: right;
	mix-blend-mode: exclusion;
}



.spin {
	animation: spin 3s infinite linear;
}

p{
	margin: 0;
}

#mid, #mid-info{
	position: relative;
	top: 45%;
	width: 100%;
}

.index-grid {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". index"; 
}
.index { grid-area: index; }


section{
	width: 100%;
}

ul, li{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

.index li{
	line-height: 160%;
}


#content{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
}

.heading{
	color: var(--light-grey);
}

.project {
	color: var(--black);
}

.flex-index, .flex-info{
	display: flex;
	flex-direction: row;
}

.catalog-num{
	flex-basis: 8%;
}

.title{
	flex-basis: 80%;
}

.year{
	flex-basis: 18%;
	text-align: right;
}

.line-break{
	margin-bottom: 1.5rem;
}

#img-preview {
  position: absolute;
  width: 35vw;
  height: 90%;
  z-index: 2;
  overflow-y: hidden;
  pointer-events: none;
  transform-origin: top left;
  transition: transform .3s cubic-bezier(.77,0,.175,1);
  transition-delay: 1.2s;
}

#img-preview canvas{
	z-index: 2;
	pointer-events: none;
}

.project-image{
	opacity: 0;
	top: -100%;
	position: absolute;
	pointer-events: none;
	user-select: none;
}

.info-heading{

}

.info-grid {
	line-height: 1.4;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". info"; 
}

.info{
	grid-area: info;
}

#profile-img{
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 35vw;
	height: 50vh;
	overflow: hidden;
}
#profile-img img{
	width: 60%;
}

.img-blur{
	filter: blur(30px);
	transition: blur 300ms ease-in;
}

.img-blur:hover {
	filter: blur(0);
}

@keyframes blur {
	from {
		filter: blur(30px);
	}
	to {
		filter: blur(0);
	}
}

.item-selected{
	transition: all 0.1s ease-in-out;
}

.item-wrapper{
	cursor: pointer;
}

/*.item-wrapper:hover{
	color: var(--light-grey);
}*/

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.split-parent {
  overflow: hidden;
}
.split-child {
  display: inline-block;
}

.percent-loader{
	font-size: 0.8em;
}

.preview-container {
	transition: transform .7s cubic-bezier(.77,0,.175,1) .7s;
  z-index: 5;
  left: 0px;
  position: absolute;
  top: 5;
  opacity: 0;
}

#img-preview canvas {
	width: 100%;
	height: 50vh;
	object-fit: scale-down;
}


.fixed{
	position: fixed;
}

.centered{
	margin: 0 auto;
}

.title--holder{
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.proj-pg-title{
	text-transform: uppercase;
	font-size: 5vw;
	text-align: center;
}

div.cursor{
	z-index: 100;
}

div.cursor div{
	position: absolute;
	top: 300px;
	left: 300px;
	border-radius: 50%;
	z-index: 100;
	pointer-events: none;
	transform: translate(-50%,-50%);
	font-size: 0.8vw;
	mix-blend-mode: difference;
}

.proj-img-container, .boi-img-container {
	position: absolute;
	width: 60vh;
	height: 80vh;
	top: 20px;
	left: 20px;
	z-index: 2;
}

.proj-img-container div, .boi-img-container div{
	position: relative;
	width: 100%;
	height: 100%;
	background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
	z-index: 2;
}

.uppercase{
	text-transform: uppercase;
}

#info-holderr {
	position: absolute;
	width: 40vw;
	top: 50%;
	left: 50%;
}

.visual-project-info{
  text-align: justify;
  font-size: 1vw;
	margin-bottom: 1.3em;
}

.btn {
	border: 1px solid var(--black);
	border-radius: 0.5rem;
	padding: 5px 13px;
	width: fit-content;
}

.btn p {
	margin: 0;
	font-size: 0.8vw;
}

.ctn-margin{
	margin: 0 auto;
}

#index-number{
	position: fixed;
	top: 50%;
	left: 20px;
	text-transform: uppercase;
}



.space-bet{
	justify-content: space-between;
}

.project-details{
	margin-bottom: 1em;
  font-weight: 500;
	text-transform: uppercase;
}


.space-holder{
	width: 100%;
	height: 90%;
}

.space{
	height: -webkit-fill-available;
}

.space div{
	position: absolute;
	width: max-content;
}

.space-item{
	text-transform: uppercase;
	font-size: 1vw;
	position: absolute;
	transition: all 0.3s ease;
}

.space-item div span{
	display: inline-block;
	width: 5px;
	height: 5px;
	background-color: #000;
	vertical-align: super;
	margin-right: 5px;
}

.item1{
	top: 20%;
	left: 40%;
}

.item2{
	top: 50%;
	left: 15%;
}

.item3{
	top: 50%;
	left: 50%;

}

.item4{
	top: 70%;
	left: 40%;
}

.item5{
	top: 35%;
	left: 75%;
}

.item6{
	top: 40%;
	left: 30%;
}

.item7{
	top: 60%;
	left: 65%;
}

.item8{
	top: 80%;
	left: 30%;
}

.item9{
	top: 15%;
	left: 62%;
}

.item10{
	top: 80%;
	left: 75%;
}


.line{
	height: 1px;
	background-color: #000;
	width: 96%;
	position: absolute;
	bottom: 30px;
}

.gif-container{
	position: relative;
	top: 100%;
}

.gif-container img{
	width: 100%;
	position: relative;
}

.gif-container p{
	margin-bottom: 100px;
}








footer{
	position: fixed;
	bottom: 20px;
	right: 30px;
}

footer div{
	font-size: 0.7vw;
}




@media screen and (max-width: 450px){
	.index-grid {
		display: block;
	}

	.info-grid{
		display: block;
		margin-top: 20px;
	}

	.space-item{
		font-size: 3vw;
	}

	.item5{
		left: 25%;
	}
	.item7 {
		top: 70%;
		left: 25%;
	}

	.item9{
		left: 12%;
	}
	.item10{
		left: 5%;
	}
	
	footer div{
		font-size: var(--font-size-m);
	}

	#profile-img {
  position: relative;
  top: 20;
  left: 0;
  width: 100%;
  height: auto;
	}

	#profile-img img {
  width: 80%;
	display: block;
	margin: 0 auto;
	background-position: center;
	background-size: cover;
	}

	.title{
		flex-basis: 75%;
	}

	.year{
		flex-basis: 20%;
	}

	#mid-info{
		top: 0;
	}

	#home {
		overflow: inherit;
		height: max-content;
	}

	#img-preview{
		width: 60vw;
    height: 50%;
	}
	
	.proj-img-container {
		width: 40vw;
		height: 60vh;
		top: 15;
		left: 15;
	}

	div.cursor{
		display: none;
	}

	.btn p{
		font-size: 2vw;
	}

	div#info-holderr{
		width: 45vw;
	}

	div.visual-project-info{
		font-size: 2vw;
	}
		


	.home-container{
		width: auto;
		height: 100vh;
	}

	.col-xl-custom {
    flex: 0 0 28.88% !important;
    max-width: 28.88% !important;
    height: 18%;
    overflow: hidden;
	}

	footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 10px;
	}

	footer div{
		width: fit-content;
		float: right;
		margin-right: 30px;
	}

	body{
		cursor: none;
	}

}

@media screen and (min-width: 450px) and (max-width: 1079px) {

	#home {
		overflow: scroll;
	}

	body{
		cursor: none;
	}

	.col-xl-custom {
    flex: 0 0 22.08% !important;
    max-width: 22.08% !important;
    height: 18%;
    overflow: hidden;
	}

	.home-container{
		width: auto;
		margin-top: 20px;
	}


}


@media screen and (min-width: 1080px) and (max-width: 1290px) {

	.col-xl-custom {
		flex: 0 0 14.08% !important;
		max-width: 14.08% !important;
		height: 18%;
		overflow: hidden;
	}

}

